<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1675237624880-da169dd82f68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p>These are the movies I added to this category</p>
    <a class="btn btn-primary" href="#">Add a movie</a>
  </div>
</div>

<h2>These are my movies:</h2>
<%= @list %>

<!--
<ul>
  <% @list.movies.each do |movie| %>
  <li><%= movie.title %><%= movie.overview %></li>
  <% end %>
</ul>
-->
